@tailwind base;
@tailwind components;
@tailwind utilities;

/* Drawer speed */
[data-vaul-drawer] {
  transition: transform 0.7s cubic-bezier(0.32, 0.72, 0, 1) !important;
  animation-duration: 1s !important;
}

/* Mobile menu */
.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

/* Scrollbar of DrawerContent */
#drawer-scrollbar::-webkit-scrollbar {
  @apply w-[5px];
}

#drawer-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

#drawer-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#d18682] rounded-[30px];
}

/* Cut-corner blocks */
#services {
  clip-path: polygon(0 0, 97% 0, 100% 2.5%, 100% 100%, 0 100%);
}
#project-card {
  clip-path: polygon(0 0, 88% 0, 100% 19%, 100% 100%, 0 100%);
}

@media (max-width: 1536px) {
  #project-card {
    clip-path: polygon(0 0, 83% 0, 100% 19%, 100% 100%, 0 100%);
  }
}

@media (max-width: 428px) {
  #services {
    clip-path: polygon(0 0, 91% 0, 100% 1.7%, 100% 100%, 0 100%);
  }
  #project-card {
    clip-path: polygon(0 0, 87% 0, 100% 11%, 100% 100%, 0 100%);
  }
}

/* FadeIn animation */
.SERVICES_SHOW {
  animation: fadeIn 0.25s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
